# Ignore environment variables file
.env

# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/

# Ignore log files
*.log

# Ignore system files
.DS_Store

# Ignore TypeScript compile outputs
*.tsbuildinfo

# Ignore npm debug log
npm-debug.log*